// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --purple: #AB95F9;
    --dark-purple: #896AF9;
    --ion-background-color: #fff !important;
    --ion-text-color: #000 !important;
    --ion-font-family: 'Nunito', sans-serif;
}
