/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

ion-header {
  box-shadow: none !important;
}
ion-toolbar {
  --background: var(--purple);
  box-shadow: none;
  padding: 0 20px;
}
ion-title {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0;
}

.logo {
  width: 63px;
  height: 27px;
  display: flex;
}

.main-container {
  padding-top: 56px;
  max-width: 1312px;
  margin: 0 auto;
  width: 100%;
}

.shadow-text {
  text-shadow: 2px 2px 0px rgba(137, 106, 249, 1);
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 900;
}

ion-button {
  --background: #fff;
  --color: var(--dark-purple);
  --border-radius: 0;
  --font-size: 23px;
  font-weight: 900 !important;

  border: 1px solid var(--dark-purple);
  box-shadow: 2px 2px 0px var(--dark-purple);
  border-radius: 20px;
  overflow: hidden;

  &::part(native) {
    padding: 20px 25px;
  }
}

ion-item {
  --background: #fff;
  --border: none !important;
  --border-radius: 16px;
  &:hover {
    --background: #fff;
  }
  &::part(native) {
    .item-inner {
      border: none !important;
    }
  }
}
