<ion-content>
  <div class="main-container">
    <section class="hero-section">
      <div class="hero-content">
        <h1 class="shadow-text">Discover the magic of our surprise box</h1>
        <p class="bold">Unleash your child's curiosity with our educational subscription box filled with fun and
          learning.</p>
        <ion-button class="subscribe-btn" shape="round">Subscribe Now</ion-button>
      </div>
      <div class="toys-showcase">
        <img src="assets/images/landing.png" alt="Toys Showcase">
      </div>
    </section>

  </div>
  <section class="how-it-works">
    <img src="assets/images/upper-bg.png" class="upper-bg">
    <img src="assets/images/lower-bg.png" class="lower-bg">
    <div class="main-container">
      <h2>How It Works: Subscribe and<br />Receive Your Surprise Box</h2>
      <p class="section-description">Subscribe to our surprise subscription box and give your child the gift of
        learning. Each month, we curate a box filled with educational materials tailored to your child's age and
        interests.</p>

      <div class="steps-container">
        <div class="step">
          <img src="assets/images/steps/step1.png" alt="Step 1">
          <h3 class="bold"><small>Step 1:</small><br />Subscribe</h3>
          <p>Select a subscription plan that suits your child's learning needs and preferences.</p>
        </div>
        <div class="step">
          <img src="assets/images/steps/step2.png" alt="Step 2">
          <h3 class="bold"><small>Step 2:</small><br />Personalise Your Box</h3>
          <p>Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box
            accordingly.</p>
        </div>
        <div class="step">
          <img src="assets/images/steps/step3.png" alt="Step 3">
          <h3 class="bold"><small>Step 3:</small><br />Receive Your Surprise Box</h3>
          <p>Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box filled with
            engaging learning materials.</p>
        </div>
      </div>
    </div>
    <ion-button class="subscribe-btn" shape="round">Subscribe Now</ion-button>
  </section>

  <footer class="site-footer">
    <div class="footer-content">
      <div class="footer-links">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms-of-service">Terms of Service</a>
        <a href="/cookies-settings">Cookies Settings</a>
      </div>
      <div class="copyright">
        © 2023 MyEdu. All rights reserved.
      </div>
    </div>
  </footer>
</ion-content>